# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Coverage (Jest)
coverage/
lcov-report/

# Sonar
.sonar/
.scannerwork/

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# Build/Dist
dist/
build/
